@import "./style/custom_ol.css";
@import "./style/custom_bootstrap.css";


html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-side-panel-tabs > button.active {
  color: #f9f6ed !important;
  background-color: #8A1946 !important;
}

.ol-side-panel-tabs, .ol-side-panel-tabs > button {
  color: #8A1946;
  background-color: #f9f6ed;
}

.ol-side-panel-tabs > button:hover {
  color:#f9f6ed;
  background-color: #8A1946;
}

.ol-side-panel-content {
  background-color:#f9f6ed ;
}

.ol-side-panel-close:hover {
  color: #8A1946;
}